<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Json</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Qouro</h1>
    <% for(post of posts) { %>
        <div class="post-container">
            <h2 class="post"><%= post.username %></h2>
            <p class="content"><%= post.content %></p>
            <p><a href="/posts/new">Add</a></p>
        </div>
    <% } %>
</body>
</html>