<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <textarea name="content" placeholder="What's on your mind?" required rows="5" cols="70"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>