<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Random Number</h1>
    <p>The random number generated is: <%= rendom %>
    <% if (rendom % 2 === 0) { %>
        <span>This is an even number.</span>
    <% } else { %>
        <span>This is an odd number.</span>
    <% } %>
    </p>
</body>
</html>